fastapi[standard]
uvicorn
sqlalchemy
alembic
qdrant-client
langchain
langchain-google-genai
greenlet

# Testing
pytest
pytest-asyncio
httpx
pymupdf
marker-pdf
pydantic-settings
asyncpg
pytest
ruff
black
python-multipart
aiosqlite
langchain-huggingface
sentence-transformers
